*|sidebar-panel-header {
  display: none !important;
}

#sidebar-main {
  visibility: collapse !important;
}

#vertical-tabs {
  display: none !important;
  visibility: collapse !important;
  overflow: hidden !important;
  width: 0 !important;
}

#sidebar-box,
#sidebar {
  border-radius: 0 !important;
  padding-block-end: 0 !important;
}

.sidebar-splitter {
  border-inline: 0 !important;
  width: 0 !important;
}
